html {
  scroll-behavior: smooth;
}

body {
    background-color: #2E3734;
}

#container {
    color: #F4FEF4;
    max-width: 1200px;
    /* width: 95vw; */
    box-sizing: border-box;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #2e3734e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuDesk {
    display: none;
}

h1, h2 {
    font-family: "Poiret One", sans-serif;
    color: #DDFBDB;
}

h2 {
    margin: 40px 0 10px;
}

article {
    border: #B7F6DF solid 1px;
    background-color: #494f4c;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 12px;
    margin-top: 20px;
    position: relative;
}

h3 {
    /* background-color: #B7F6DF; */
    color: #DDFBDB;
    font-weight: 500;
    border-left: 8px solid #EC8E8E;
    box-sizing: border-box;
    padding: 2px;
}

#daicon-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#daicon-images img {
    width: 100%;
    height: auto;
}

#pangaea-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#pangaea-images img {
    width: 83%;
    margin: auto;
    height: auto;
}

#menuMobile {
    font-size: 26px;
    margin-left: auto;
    cursor: pointer;
}

#feature {
    display: none;
}

.btns {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100px;
}

.btn {
    border: #53b28f 1px solid;
    border-radius: 8px;
    padding: 0 10px;
    line-height: 1.2em;
    /* width: 200px; */
    text-align: center;
    margin: 10px auto;
    color: #F4FEF4;
}

.btns > .btn {
    width:150px ;
}

.popup .btn {
    width: calc(100% - 20px);
    margin: 10px 0 5px;

}

.btn:hover {
    background-color: #2E3734;
    color: #EC8E8E;
    cursor: pointer;
}

/* gallery */
.gallery {
    margin-top: 15px;
}

.gallery img {
    transition: scale ease-in-out 0.2s;
}

#other .gallery img:hover {
    scale: 1.02;
    cursor: pointer;
}

#selector {
    margin: 20px auto 0;
    width: 100%;
    max-width: 900px;
    border: #53b28f 1px solid;
    display: flex;
    gap: 20px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 10px;
}

#selector > div {
    flex: 1;
    text-align: center;
    /* background-color: #53b28f; */
    position: relative;
}

.inactive {
    cursor: pointer;
    /* background-color: #494f4c; */
}

.inactive:hover {
    color: #EC8E8E;
}

.active > .animator {
    background-color: #B7F6DF;
}

.inactive > .animator {
    background-color: #494f4c;
}

.animator {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 8px;
    pointer-events: none;
}

.active {
    color: #2E3734;
}

.off {
    display: none;
}

#motionGallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

video {
    max-width: 98%;
}

/* daicon page */
#flyersGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

#daiconGallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#flyers img {
    
    height: 450px;
    width: auto;
    display: block;
    flex: 0 0 auto;
}

#daiconGraphics img, #misc img {
    width: 100%;
    height: auto;
    /* margin: auto; */
}

#flyersGallery {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

#lcd img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/* overlays */

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #2e3734e7;
    top: 0;
    left:0;
    z-index: 5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}

.popup {
    width: 90%;
    margin: 50px auto;
}

.popup img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30%, -30%);
    border: #53b28f 1px solid;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 0;
    background-color: #2E3734;
}

.close:hover {
    background-color: #2E3734;
    color: #EC8E8E;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    #menuMobile {
        display: none;
    }

    #menuDesk {
        display: block;
        margin-left: auto;
    }

    #menuDesk ul {
        display: flex;
        gap: 40px;
        list-style-type: none;
    }

    #menuDesk ul li a:hover {
        color: #EC8E8E;
    }

    h1 {
        font-size: 36px;
    }

    #menuDesk ul li a {
        color: #F4FEF4;
        text-decoration: none;
        font-size: 20px;
    }

    #major {
        display: flex;
        gap: 20px;
    }

    #major article {
        flex: 1;
    }

    #motionGallery {
        flex-direction: row;
        gap: 20px;
        justify-content: space-evenly;
    }

    video {
        flex: 1;
        max-width: 48%;
    }

    /* daicon */
    /* #daiconMain {
        display: flex;
        gap: 20px;
    }

    #daiconMain article {
        flex: 1;
    } */

    #misc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #lcd {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    #daiconGallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* overlays */
    
    .popup {
        width: 50%;
    }
}