body {
    background-color: #70581d;
    color: #2E380F;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 0.8vw + 0.5rem, 1.5rem);
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h2 {
    color: white;
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
}

header {
    height: 120px;
    padding: 20px;
    margin:0;
    font-size: clamp(1.5rem, 1vw + 1rem, 3rem);
    text-align: center;
    background-color: #C7F3B0;
}

main {
    box-sizing: border-box;
    width: calc(100vw - 30px);
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.3rem);
}

#intro {
    background-color: #C6E661;
    box-sizing: border-box;
    padding: 10px;
}

#pages {
    display: flex;
    gap: 20px;
    padding: 20px;
    /* height: 60px; */
}

#pages a {
    flex: 1;
    background-color: #C7F3B0;
    color: #2E380F;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border: solid #8aa82c 2px;
    border-radius: 10px;
}

#pages a.currentPage {
    background-color: #C6E661;
}

#pages a:hover {
    background-color: #8aa82c;
    color: white;
}

article {
    border: solid #8aa82c 3px;
    box-sizing: border-box;
    background-color: #d4ec89;
    margin-top: 30px;
    border-radius: 30px;
    padding: 20px;
}

.imgContainer {
    margin: auto;
    /* width: 50vw; */
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

img {
    max-width: 400px;
    width: 95%;
    height: auto;
}

.contents {
    display: flex;
    gap: 10px;
}

article a {
    background-color: #F3DFB0;
    color: #2E380F;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border: solid #8aa82c 2px;
    border-radius: 10px;
    max-width: 40%;
}

article a:hover {
    background-color: #C7F3B0;
}

.contents a {
    flex: 1;
}

@media screen and (min-width: 700px) {
    section {
        background-color: #C7F3B0;
        height: 200px;
    }

    section>div {
        display: flex;
        max-width: 1200px;
        margin: auto;
        
        /* height: 140px; */
    }

    header {
        flex:2;
        text-align: left;
    }

    #pages {
        margin-top: 20px;
        flex: 1;
        /* flex-direction: column ; */
    }

    #articles {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}